{
  "NECO_PPS": [
    "https://i.imgur.com/0S2ygVX.png",
    "https://i.imgur.com/ljGAfMg.jpeg",
  ],
  "CLIENT_TOKEN": "",
  "NV_GUILD": ,
  "GOS_GUILD": ,
  "ZN_CH": ,
  "ZN_KEY": "",
  "GOS_KAYITSIZ": ,
  "GOS_KAYIT_CH": ,
  "GATE_KEEPER": ,
  "LUM_ROL": ,
  "NV_USER_LOG_CH": ,
  "CAI_TOKEN": "",
  "CAI_CHAT_ID": "",
  "VERSION": "0.1.1"
}
